[submodule "xmonad/xmonad"]
	path = xmonad/xmonad
	url = https://github.com/xmonad/xmonad.git
[submodule "xmonad/xmonad-contrib"]
	path = xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib.git
[submodule "xmobar/xmobar-git"]
	path = xmobar/xmobar-git
	url = https://github.com/jaor/xmobar.git
