dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
bin/
xmonad.state

# xmobar
xmobar/xmobar-git/
xmobar/xmobar

# xmonad
xmonad/xmonad/
xmonad/xmonad-contrib/

# vim Obsession
Session.vim
